.App {
  background-image: url("https://bit.ly/4c4fPON");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.main-title {
  color: aliceblue;
  font-family: cursive;
  font-size: 45px;
}

.developer {
  text-decoration: none;
  color: aqua;
  font-family: cursive;
  font-size: 25px;
  padding: 10px;
}
